<div id="app">
</div>

<script type="html/template" id="SearchViewTemplate">
  <input type="text" id="from" placeholder="from">
  <input type="text" id="to" placeholder="to">
  <button class="btn btn-default" id="search-flights">Search</button>
  <h2>Flight search results</h2>
  <ul id="search-results">

  </ul>
</script>

<script type="text/template" id="flightListView" >
  <%%= flight_date %>, <a class="flight-num"> <%%= flight_number %></a>, <%%= origin %> > <%%= destination %>, <%%= airplane_id %>
</script>

<script type="text/template" id="flightView">
  <h3>Flight Info</h3>
  <p>Flight Number: <%%= flight_number %></p>
  <p>Date: <%%= flight_date %></p>
  <p>Origin: <%%= origin %></p>
  <p>Destination: <%%= destination %></p>
  <table id="planeSeatsTable"></table>
  <a href="#" id="submit">Submit</a>
  <a href="#" id="clear">Clear</a>
  </div>
</script>

<script type="text/template" id="seatView"></script>
